---
layout: archive
title: "Teaching Experience"
permalink: /teaching/
author_profile: true
---

Kaige (Mia) Gao
=====
Weatherhead School of Management, Case Western Reserve University

Instructor, 
Weatherhead School of Management, Case Western Reserve University 
=====

* Advanced Marketing Analytics (Graduate Course), Spring 2023 


Teaching Assistant, 
Weatherhead School of Management, Case Western Reserve University
=====


* Machine Learning, Visualization and Cloud Big Data (Graduate Course), Summer 2023 
* Advanced Marketing Analytics (Graduate Course), Spring 2022


Teaching Assistant, 
Robert H. Smith School of Business, University of Maryland 
=====
*  Essential Data Skills for Business Analytics (Undergraduate Course), Spring 2019 
*  Special topics in Decision, operations, and information technologies in Data Process (Graduate Course), Spring 2019 
*  Emerging Topics in Information Systems Data Visualization and Web Analytics (Un- dergraduate Course), Spring 2019 
*  Decision Modeling (MBA Course), Summer 2018 


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
