{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>{% endif %}

    <!-- Inserted HTML Content -->
    <h1>Instructor,<br>Weatherhead School of Management, Case Western Reserve University</h1>
    <ul>
      <li>Advanced Marketing Analytics (Graduate Course), Spring 2023</li>
    </ul>

    <h1>Teaching Assistant,<br>Weatherhead School of Management, Case Western Reserve University</h1>
    <ul>
      <li>Machine Learning, Visualization and Cloud Big Data (Graduate Course), Summer 2023</li>
      <li>Advanced Marketing Analytics (Graduate Course), Spring 2022</li>
    </ul>

    <h1>Teaching Assistant,<br>Robert H. Smith School of Business, University of Maryland</h1>
    <ul>
      <li>Essential Data Skills for Business Analytics (Undergraduate Course), Spring 2019</li>
      <li>Special topics in Decision, operations, and information technologies in Data Process (Graduate Course), Spring 2019</li>
      <li>Emerging Topics in Information Systems Data Visualization and Web Analytics (Undergraduate Course), Spring 2019</li>
      <li>Decision Modeling (MBA Course), Summer 2018</li>
    </ul>
  </article>
</div>
